.eightSection{
    @extend %sectionExtend;
    padding: 100px 0 150px 0;
    background-color: #fafafa;
    h4{
        @extend %head4Extend;
    }
    h2{
        @extend %head2Extend;
    }
    p{
        @extend %paraExtend;
        padding: 0 650px;
    }
    .slideMain{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 100%;
        position: relative;
        .twoDivs{
            padding: 60px 45px;
            background-color: #fff;
            text-align: left;
            border-radius: 5px;
            margin-top: 70px;
            margin-right: 20px;
            p{
                font-size: 1.1rem;
                color: #6d6d6d;
                font-weight: 500;
                padding: 0;
            }
            .employeePosition{
                margin-top: 40px;
                display: flex;
                width: 100%;
                img{
                    width: 15%;
                    border-radius: 50%;
                    display: inline-block;
                }
                h5{
                    margin: 10px 0 0 20px;
                    text-align: left;
                    display: inline-block;
                    color: #2d2d2d;
                    font-size: 1.2rem;
                    font-weight: 600;
                    span{
                        display: block;
                        color: #6d6d6d;
                        font-size: 0.9rem;
                        margin-top: 5px;
                        font-weight: 500;
                    }
                }
            }
        }
        .slick-dots{
            position: absolute;
            bottom: -80px;
            left: 46.5%;
            li button{
                border-radius: 50%;
                font-size: 0;
                width: 10px;
                height: 10px;
                margin-right: 20px;
                border: none;
                background-color: #6d6d6d;
                cursor: pointer;
            }
        }
    }
}