.eightSection{
    @extend %sectionExtend;
    padding: 80px 0;
    background-color: #fafafa;
    h4{
        @extend %head4Extend;
    }
    h2{
        @extend %head2Extend;
    }
    p{
        @extend %paraExtend;
    }
    .twoDivs{
        padding: 60px 45px;
        background-color: #fff;
        text-align: left;
        border-radius: 5px;
        margin-top: 70px;
        p{
            font-size: 1.1rem;
            color: #6d6d6d;
            font-weight: 500;
            padding: 0;
        }
        .employeePosition{
            margin-top: 40px;
            display: flex;
            width: 100%;
            img{
                width: 15%;
                border-radius: 50%;
                display: inline-block;
            }
            h5{
                margin: 10px 0 0 20px;
                text-align: left;
                display: inline-block;
                color: #2d2d2d;
                font-size: 1.2rem;
                font-weight: 600;
                span{
                    display: block;
                    color: #6d6d6d;
                    font-size: 0.9rem;
                    margin-top: 5px;
                    font-weight: 500;
                }
            }
        }
    }
}