.fifthSection{
    text-align: center;
    padding: 80px 0;
    color: #6d6d6d;
    background-color: #fafafa;
    h4{
        @extend %head4Extend;
    }
    h2{
        @extend %head2Extend;
    }
    .headPara{
        @extend %paraExtend;
        padding: 0 650px;
        margin-bottom: 90px;
    }
    .threeDivs{
        padding: 50px;
        box-shadow: 0 0 5px 2px #00000024;
        border-radius: 5px;
        h4{
            padding: 7px 20px;
        }
        .starterPara{
            padding: 20px 0;
            font-size: 1rem;
        }
        .pricingDiv{
            width: 40%;
            margin: 0 auto;
            text-align: center;
            p{
                font-size: 3.5rem;
                font-weight: 600;
                color: #1d1d1d;
                position: relative;
                .currency{
                    font-size: 1.3rem;
                    color: #6d6d6d;
                    font-weight: 400;
                    position: absolute;
                    left: 35px;
                }
                .duration{
                    font-size: 1.3rem;
                    position: absolute;
                    bottom: 10px;
                    color: #6d6d6d;
                    font-weight: 400;
                }
            }
        }
        .freeTrial{
            margin-top: 30px;
            a{
                padding: 10px 30px;
                background-color: #fff;
                font-size: 1rem;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 700;
                color: #155bd5;
                border: 1.3px solid #155bd5;
                border-radius: 5px;
            }
        }
        .tableContent{
            text-align: left;
            margin-top: 40px;
            p{
                font-size: 1.1rem;
                margin-bottom: 10px;
                a{
                    color: #155bd5;
                    margin-right: 10px
                }
                .randomCircle{
                    color: #6d6d6d;
                }
            }
        }
    }
    .Exclusive{
        h4{
            background-color: #155bd5;
            color: #fff;
        }
        .pricingDiv{
            p{
                .currency{
                    left: 20px;
                }
            }
        }
        .freeTrial{
            a{
                background-color: #155bd5;
                color: #fff;
            }
        }
    }
    .premium{
        .pricingDiv{
            p{
                .currency{
                    left: 0;
                }
            }
        }
    }

}