.fourthSection{
    width: 100%;
    text-align: center;
    padding: 80px 0;
    h4{
        @extend %head4Extend;
    }
    h2{
        @extend %head2Extend;
    }
    p{
        @extend %paraExtend;
        padding: 0 650px;
    }
    .buttons{
        margin: 40px 0;
        a{
            font-size: 1.1rem;
            text-transform: uppercase;
            color: #6d6d6d;
            font-weight: 600;
            padding: 8px 30px;
            margin: 5px 0;
        }
    }
    .container{
        text-align: left;
        flex-wrap: wrap;
        .threeDivs{
            position: relative;
        }
        .workPositions{
            margin-bottom: 30px;
            img{
                width: 100%;
                border-radius: 5px;
            }
            h3{
                font-size: 1.5rem;
                font-weight: 600;
                margin: 15px 0;
            }
            p{
                padding: 0;
                color: #1d1d1d;
            }
        }
        .overlay{
            height: 300px;
            width: 380px;
            background-color: #fff;
            border-radius: 8px;
            position: absolute;
            top: 10px;
            left: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            .overlayIcons{
                height: 60px;
                width: 60px;
                background-color: #155bd5;
                margin-right: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                color: #fff;
                font-size: 1.8rem;
            }
            transition: all 0.2s ease-in 0s;
            opacity: 0;
        }
        .overlay:hover{
            opacity: 80%;
        }

    }
}