.navSection{
    width: 100%;
    background-color: #155bd5;
    padding: 25px 0;
    position: fixed;
    z-index: 100;
    a{
        color: #f5f5f5;
    }
    .imageDiv{
        width: 25%;
        img{
            width: 100%;
        }
    }
    .navbar{
        margin-left: 70px;
    }
    ul li{
        margin-left: 25px;
        a{
            font-size: 1.1rem;
            font-weight: 500;
            color: #e0e0e0ad;
            margin-top: 9px;
            transition: all 0.2s ease 0s;
        }
        a:hover{
            color: #fff;
        }
    }
    .navCon{
        height: 40px;
        width: 40px;
        font-size: 1.3rem;
        border-radius: 50%;
        border: 1px solid rgba(238,238,238,.425);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease 0s;
    }
    .navCon:hover{
        background-color: #fff;
        color: #155bd5;
    }
}

.active{
    color: #fff;
}