* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  width: 70%;
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.df {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style-type: none;
  display: flex;
}

.twoDivs {
  width: 47%;
}

.threeDivs {
  width: 32%;
}

.tenthSection, .ninethSection, .eightSection, .seventhSection, .sixthSection, .fifthSection, .fourthSection, .thirdSection, .secondSection {
  width: 100%;
  text-align: center;
}

.slideLeft .rightSlide p, footer .container .fourDiv p, footer .container .fourDivsImg .making2, footer .container .fourDivsImg .making, .eleventhection .contactMain .contactForm p, .tenthSection p, .ninethSection p, .eightSection p, .seventhSection p, .sixthSection p, .fifthSection .headPara, .fourthSection p, .thirdSection p, .secondSection p, .firstSection .twoDivs .tabs p {
  color: #6d6d6d;
  font-size: 1.1rem;
  line-height: 1.6rem;
}

.tenthSection h2, .ninethSection h2, .eightSection h2, .seventhSection h2, .sixthSection h2, .fifthSection h2, .fourthSection h2, .thirdSection h2, .secondSection h2, .firstSection .twoDivs h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #1d1d1d;
  margin: 15px 0;
}

.tenthSection h4, .ninethSection h4, .eightSection h4, .sixthSection h4, .fifthSection h4, .fourthSection h4, .thirdSection h4, .secondSection h4 {
  padding: 7px 25px;
  font-size: 1rem;
  display: inline-block;
  color: #155bd5;
  border: 1.5px solid #155bd5;
  border-radius: 25px;
}

.navSection {
  width: 100%;
  background-color: #155bd5;
  padding: 25px 0;
  position: fixed;
  z-index: 100;
}
.navSection a {
  color: #f5f5f5;
}
.navSection .imageDiv {
  width: 25%;
  display: flex;
}
.navSection .imageDiv img {
  width: 100%;
}
.navSection .navbar {
  margin-left: 70px;
}
.navSection .nav-ul li {
  margin-left: 25px;
}
.navSection .nav-ul li a {
  font-size: 1.1rem;
  font-weight: 500;
  color: rgba(224, 224, 224, 0.6784313725);
  margin-top: 9px;
  transition: all 0.2s ease 0s;
}
.navSection .nav-ul li a:hover {
  color: #fff;
}
.navSection .nav-ul li .active {
  color: #fff;
}
.navSection .navCon {
  height: 40px;
  width: 40px;
  font-size: 1.3rem;
  border-radius: 50%;
  border: 1px solid rgba(238, 238, 238, 0.425);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease 0s;
}
.navSection .navCon:hover {
  background-color: #fff;
  color: #155bd5;
}

.bannerSection {
  width: 100%;
  padding: 100px 0 60px;
  background-color: #155bd5;
}
.bannerSection .twoDivs h1 {
  color: #fff;
  font-weight: 700;
  font-size: 2.8rem;
  margin-top: 80px;
}
.bannerSection .twoDivs p {
  font-size: 1.1rem;
  color: rgba(224, 224, 224, 0.6784313725);
  font-weight: 500;
  line-height: 1.5rem;
  padding: 25px 0;
}
.bannerSection .twoDivs img {
  width: 100%;
  border-radius: 5px;
}
.bannerSection .twoDivs .button {
  width: 100%;
}
.bannerSection .twoDivs .button .getStarted {
  padding: 13px 25px;
  background-color: #fff;
  color: #155bd5;
  border: 1px solid #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  font-weight: 700;
  margin-right: 10px;
  transition: all 0.2s ease 0s;
}
.bannerSection .twoDivs .button .getStarted:hover {
  background-color: #155bd5;
  color: #fff;
}
.bannerSection .twoDivs .button .watchIntro i {
  padding: 15px 17px;
  background-color: #fff;
  border-radius: 50%;
  color: #155bd5;
}
.bannerSection .twoDivs .button .watchIntro span {
  color: #fff;
  font-weight: 600;
  margin-left: 10px;
}

.firstSection {
  width: 100%;
  padding: 70px 0;
  background-color: #fafafa;
}
.firstSection .twoDivs img {
  width: 100%;
}
.firstSection .twoDivs h4 {
  text-transform: uppercase;
  color: #1d1d1d;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 40px;
  padding-left: 20px;
  position: relative;
  border: none;
}
.firstSection .twoDivs h4:before {
  content: "";
  height: 2px;
  width: 15px;
  position: absolute;
  background-color: #155bd5;
  left: 0;
  top: 50%;
}
.firstSection .twoDivs h2 {
  padding: 20px 0;
}
.firstSection .twoDivs .tabs ul {
  background-color: #efefef;
  padding: 10px;
  border-radius: 5px;
}
.firstSection .twoDivs .tabs ul li {
  padding: 10px;
  background-color: #fff;
  margin-right: 10px;
  border-radius: 3px;
  text-transform: capitalize;
  transition: all 0.2s ease 0s;
}
.firstSection .twoDivs .tabs ul li a {
  color: #2d2d2d;
  font-weight: 600;
}
.firstSection .twoDivs .tabs ul li:hover {
  background-color: #155bd5;
}
.firstSection .twoDivs .tabs ul li:hover a {
  color: #fff;
}
.firstSection .twoDivs .tabs p {
  padding: 0 0;
  margin: 15px 0;
}

.secondSection {
  padding: 70px 0;
}
.secondSection p {
  padding: 0 650px;
  margin-bottom: 30px;
}
.secondSection .container {
  flex-wrap: wrap;
}
.secondSection .threeDivs {
  text-align: left;
  border: 1px solid #efefef;
  border-radius: 8px;
  padding: 35px 20px;
  margin-bottom: 20px;
  transition: all 0.2s ease 0s;
}
.secondSection .threeDivs .iconImg {
  height: 75px;
  width: 75px;
  padding: 10px;
  border-radius: 50%;
  border: 1.4px solid #155bd5;
}
.secondSection .threeDivs .iconImg img {
  width: 100%;
  color: #fff;
}
.secondSection .threeDivs p {
  padding: 0;
}
.secondSection .threeDivs h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 15px 0;
}
.secondSection .threeDivs:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2588235294);
}

.thirdSection {
  background-color: #fafafa;
  padding: 70px 0;
}
.thirdSection p {
  padding: 0 650px;
  margin-bottom: 50px;
}
.thirdSection .container {
  position: relative;
}
.thirdSection .container .introImg {
  width: 70%;
  margin: 0 auto;
}
.thirdSection .container .introImg img {
  width: 100%;
  border-radius: 10px;
}
.thirdSection .container .playIcon {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translatex(-50%);
  background-color: #155bd5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.7rem;
  transition: all 0.2s ease 0s;
  cursor: pointer;
}
.thirdSection .container .playIcon:hover {
  background-color: #fff;
  color: #155bd5;
}

.fourthSection {
  padding: 80px 0;
}
.fourthSection p {
  padding: 0 650px;
}
.fourthSection .buttons {
  margin: 40px 0;
  position: relative;
}
.fourthSection .buttons a {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #6d6d6d;
  font-weight: 600;
  padding: 15px 40px;
  margin: 5px 0;
  transition: all 0.3s ease 0s;
  border-bottom: 4px solid #fff;
}
.fourthSection .buttons a:hover {
  color: #155bd5;
  border-bottom: 4px solid #155bd5;
}
.fourthSection .container {
  text-align: left;
  flex-wrap: wrap;
}
.fourthSection .container .workPositions {
  margin-bottom: 30px;
}
.fourthSection .container .workPositions .portfolioImage {
  position: relative;
}
.fourthSection .container .workPositions .portfolioImage img {
  width: 100%;
  border-radius: 5px;
  display: block;
}
.fourthSection .container .workPositions .portfolioImage .overlay {
  background-color: #fff;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: scale(0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in 0s;
  opacity: 0;
}
.fourthSection .container .workPositions .portfolioImage .overlay .overlayIcons {
  height: 60px;
  width: 60px;
  background-color: #155bd5;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #fff;
  font-size: 1.8rem;
}
.fourthSection .container .workPositions .portfolioImage .overlay .link {
  margin-right: 0;
}
.fourthSection .container .workPositions h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 15px 0;
}
.fourthSection .container .workPositions p {
  padding: 0;
  color: #1d1d1d;
}
.fourthSection .container .workPositions:hover .portfolioImage .overlay {
  opacity: 80%;
}

.fifthSection {
  padding: 80px 0;
  color: #6d6d6d;
  background-color: #fafafa;
}
.fifthSection .headPara {
  padding: 0 650px;
  margin-bottom: 90px;
}
.fifthSection .threeDivs {
  padding: 50px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1411764706);
  transition: all 0.2s ease 0s;
}
.fifthSection .threeDivs h4 {
  padding: 7px 20px;
}
.fifthSection .threeDivs .starterPara {
  padding: 20px 0;
  font-size: 1rem;
}
.fifthSection .threeDivs .pricingDiv {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}
.fifthSection .threeDivs .pricingDiv p {
  font-size: 3.5rem;
  font-weight: 600;
  color: #1d1d1d;
  position: relative;
}
.fifthSection .threeDivs .pricingDiv p .currency {
  font-size: 1.3rem;
  color: #6d6d6d;
  font-weight: 400;
  position: absolute;
  left: 35px;
}
.fifthSection .threeDivs .pricingDiv p .duration {
  font-size: 1.3rem;
  position: absolute;
  bottom: 10px;
  color: #6d6d6d;
  font-weight: 400;
}
.fifthSection .threeDivs .freeTrial {
  margin-top: 30px;
}
.fifthSection .threeDivs .freeTrial a {
  padding: 10px 30px;
  background-color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  color: #155bd5;
  border: 1.3px solid #155bd5;
  border-radius: 5px;
  transition: all 0.2s ease 0s;
}
.fifthSection .threeDivs .freeTrial a:hover {
  color: #fff;
  background-color: #155bd5;
}
.fifthSection .threeDivs .tableContent {
  text-align: left;
  margin-top: 40px;
}
.fifthSection .threeDivs .tableContent p {
  font-size: 1.1rem;
  margin-bottom: 10px;
}
.fifthSection .threeDivs .tableContent p a {
  color: #155bd5;
  margin-right: 10px;
}
.fifthSection .threeDivs .tableContent p .randomCircle {
  color: #6d6d6d;
}
.fifthSection .threeDivs:hover {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1411764706);
}
.fifthSection .Exclusive {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1411764706);
}
.fifthSection .Exclusive h4 {
  background-color: #155bd5;
  color: #fff;
}
.fifthSection .Exclusive .pricingDiv p .currency {
  left: 20px;
}
.fifthSection .Exclusive .freeTrial a {
  background-color: #155bd5;
  color: #fff;
  transition: all 0.2s ease 0s;
}
.fifthSection .Exclusive .freeTrial a:hover {
  color: #155bd5;
  background-color: #fff;
}
.fifthSection .premium .pricingDiv p .currency {
  left: 0;
}

.sixthSection {
  padding: 80px 0;
}
.sixthSection p {
  padding: 0 650px;
  margin-bottom: 90px;
}
.sixthSection .threeDivs {
  border-radius: 5px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1411764706);
  position: relative;
}
.sixthSection .threeDivs img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}
.sixthSection .threeDivs p {
  padding: 0;
}
.sixthSection .threeDivs .teamContact {
  width: 100%;
  padding: 30px 0;
  position: absolute;
  bottom: 0;
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: all 300ms ease;
}
.sixthSection .threeDivs .teamContact h3 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 2px;
}
.sixthSection .threeDivs .teamContact p {
  font-size: 1.1rem;
  margin-bottom: 0;
  color: #155bd5;
  font-weight: 400;
}
.sixthSection .threeDivs .teamContact .socialIcons {
  padding: 10px 35px;
  background-color: #fafafa;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translatex(-50%);
  border-radius: 25px;
  transition: all 500ms ease;
  display: none;
}
.sixthSection .threeDivs .teamContact .socialIcons a {
  color: #6d6d6d;
  margin-right: 15px;
  font-size: 1.1rem;
}
.sixthSection .threeDivs .teamContact .socialIcons .pinterest {
  margin-right: 0;
}
.sixthSection .threeDivs:hover .teamContact {
  padding-top: 50px;
  background-color: #155bd5;
  color: #fff;
}
.sixthSection .threeDivs:hover .teamContact p {
  color: #fff;
}
.sixthSection .threeDivs:hover .teamContact .socialIcons {
  display: block;
}
.sixthSection .threeDivs:hover .teamContact .socialIcons a:hover {
  color: #155bd5;
}

.seventhSection {
  padding: 80px 0;
  background-image: url(../img/png/overlay.png);
  background-size: cover;
  background-color: #155bd5;
}
.seventhSection h2 {
  color: #fff;
  padding: 0 650px;
  font-weight: 600;
}
.seventhSection p {
  color: #fff;
  padding: 0 650px;
  margin: 30px 0;
}
.seventhSection a {
  padding: 12px 35px;
  background-color: #155bd5;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  color: #fff;
  border: 1.3px solid #fff;
  border-radius: 5px;
  transition: all 0.2s ease 0s;
}
.seventhSection a:hover {
  background-color: #fff;
  color: #155bd5;
}

.eightSection {
  padding: 100px 0 150px 0;
  background-color: #fafafa;
}
.eightSection p {
  padding: 0 650px;
}
.eightSection .slideMain {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  position: relative;
}
.eightSection .slideMain .twoDivs {
  padding: 60px 45px;
  background-color: #fff;
  text-align: left;
  border-radius: 5px;
  margin-top: 70px;
  margin-right: 20px;
}
.eightSection .slideMain .twoDivs p {
  font-size: 1.1rem;
  color: #6d6d6d;
  font-weight: 500;
  padding: 0;
}
.eightSection .slideMain .twoDivs .employeePosition {
  margin-top: 40px;
  display: flex;
  width: 100%;
}
.eightSection .slideMain .twoDivs .employeePosition img {
  width: 15%;
  border-radius: 50%;
  display: inline-block;
}
.eightSection .slideMain .twoDivs .employeePosition h5 {
  margin: 10px 0 0 20px;
  text-align: left;
  display: inline-block;
  color: #2d2d2d;
  font-size: 1.2rem;
  font-weight: 600;
}
.eightSection .slideMain .twoDivs .employeePosition h5 span {
  display: block;
  color: #6d6d6d;
  font-size: 0.9rem;
  margin-top: 5px;
  font-weight: 500;
}
.eightSection .slideMain .slick-dots {
  position: absolute;
  bottom: -80px;
  left: 46.5%;
}
.eightSection .slideMain .slick-dots li button {
  border-radius: 50%;
  font-size: 0;
  width: 10px;
  height: 10px;
  margin-right: 20px;
  border: none;
  background-color: #6d6d6d;
  cursor: pointer;
}

.ninethSection {
  padding: 80px 0;
}
.ninethSection p {
  padding: 0 650px;
  margin-bottom: 80px;
}
.ninethSection .threeDivs {
  text-align: left;
}
.ninethSection .threeDivs .image {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.ninethSection .threeDivs .image img {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  display: block;
  transition: all 0.5s ease 0s;
}
.ninethSection .threeDivs .image .timNorton {
  width: 150px;
  height: 40px;
  display: flex;
  background-color: #155bd5;
  padding: 8px 8px;
  border-radius: 25px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.ninethSection .threeDivs .image .timNorton img {
  width: 20%;
  border-radius: 50%;
}
.ninethSection .threeDivs .image .timNorton span {
  font-size: 0.7rem;
  margin: 5px 0 0 15px;
  color: #fff;
}
.ninethSection .threeDivs h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #1d1d1d;
  margin: 25px 0;
  transition: all 0.5s ease 0s;
}
.ninethSection .threeDivs h3:hover {
  color: #155bd5;
}
.ninethSection .threeDivs p {
  padding: 0;
  margin-bottom: 0;
}
.ninethSection .threeDivs:hover img {
  transform: scale(1.1);
}

.tenthSection {
  padding: 80px 0;
  background-color: #fafafa;
}
.tenthSection p {
  padding: 0 650px;
}
.tenthSection .container {
  margin-top: 80px;
}
.tenthSection .container .main {
  width: 54.5%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.tenthSection .container .main .image {
  height: 120px;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px 20px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #eee;
  margin: 13px 10px;
  transition: all 0.5s ease 0s;
}
.tenthSection .container .main .image img {
  cursor: pointer;
}
.tenthSection .container .main .image:hover {
  transform: translatey(-5px);
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.1411764706);
}

.eleventhection .contactMain .contactForm form div textarea, .eleventhection .contactMain .contactForm form div .inputTypes {
  padding: 20px 30px;
  border-radius: 25px;
  margin-bottom: 25px;
  border: 1px solid #e0e0e0;
  outline: none;
}

.eleventhection .contactMain .contactForm form div textarea::-moz-placeholder, .eleventhection .contactMain .contactForm form div .inputTypes::-moz-placeholder {
  font-size: 1.1rem;
  color: #6d6d6d;
}

.eleventhection .contactMain .contactForm form div textarea:-ms-input-placeholder, .eleventhection .contactMain .contactForm form div .inputTypes:-ms-input-placeholder {
  font-size: 1.1rem;
  color: #6d6d6d;
}

.eleventhection .contactMain .contactForm form div textarea::placeholder, .eleventhection .contactMain .contactForm form div .inputTypes::placeholder {
  font-size: 1.1rem;
  color: #6d6d6d;
}

.eleventhection {
  padding: 80px 0;
}
.eleventhection .contactItem {
  width: 30%;
}
.eleventhection .contactItem .details {
  width: 100%;
  display: flex;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  padding: 20px 30px;
  margin-bottom: 30px;
  transition: all 0.5s ease 0s;
}
.eleventhection .contactItem .details .phone {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #155bd5;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 50%;
  margin-right: 30px;
}
.eleventhection .contactItem .details h2 {
  font-size: 1.4rem;
  color: #155bd5;
  margin-bottom: 10px;
  font-weight: 600;
}
.eleventhection .contactItem .details a {
  display: block;
  color: #6d6d6d;
  font-weight: 500;
  margin-bottom: 8px;
}
.eleventhection .contactItem .details .email {
  margin-bottom: 0;
}
.eleventhection .contactItem .details:hover {
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.1411764706);
}
.eleventhection .contactMain {
  width: 67%;
  position: relative;
}
.eleventhection .contactMain .contactForm {
  text-align: center;
  padding: 60px 40px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  transition: all 0.5s ease 0s;
  position: absolute;
  background-color: #fff;
  top: 0;
}
.eleventhection .contactMain .contactForm h3 {
  color: #155bd5;
  font-size: 1.4rem;
  font-weight: 700;
}
.eleventhection .contactMain .contactForm h2 {
  font-size: 2.2rem;
  color: #1d1d1d;
  font-weight: 600;
  margin: 10px 0;
}
.eleventhection .contactMain .contactForm p {
  padding: 0 100px;
}
.eleventhection .contactMain .contactForm form {
  margin-top: 40px;
}
.eleventhection .contactMain .contactForm form div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.eleventhection .contactMain .contactForm form div .inputTypes {
  width: 48%;
}
.eleventhection .contactMain .contactForm form div textarea {
  height: 150px;
  width: 100%;
}
.eleventhection .contactMain .contactForm form div textarea::-moz-placeholder {
  font-family: "Inter", sans-serif;
}
.eleventhection .contactMain .contactForm form div textarea:-ms-input-placeholder {
  font-family: "Inter", sans-serif;
}
.eleventhection .contactMain .contactForm form div textarea::placeholder {
  font-family: "Inter", sans-serif;
}
.eleventhection .contactMain .contactForm form button {
  background-color: #155bd5;
  border: none;
  padding: 15px 30px;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  border-radius: 25px;
  margin-top: 10px;
}
.eleventhection .contactForm:hover {
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.1411764706);
}

footer {
  padding: 80px 0;
}
footer .container .fourDivsImg {
  width: 25%;
}
footer .container .fourDivsImg img {
  width: 60%;
}
footer .container .fourDivsImg .making {
  padding-top: 10px;
}
footer .container .fourDivsImg .making2 {
  margin-top: 30px;
}
footer .container .fourDivsImg .making2 span {
  display: block;
}
footer .container .fourDivsImg .making2 a {
  color: #155bd5;
}
footer .container .fourDiv h2 {
  font-size: 1.3rem;
  color: #1d1d1d;
  margin-bottom: 30px;
}
footer .container .fourDiv p {
  margin-bottom: 12px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
footer .container .fourDiv p:hover {
  color: #155bd5;
}
footer .container .subscribe {
  width: 30%;
}
footer .container .subscribe p {
  cursor: text;
}
footer .container .subscribe p:hover {
  color: #6d6d6d;
}
footer .container .subscribe form {
  position: relative;
  width: 100%;
}
footer .container .subscribe form input {
  width: 100%;
  padding: 18px 18px;
  border-radius: 8px;
  margin-bottom: 25px;
  border: 1px solid #e0e0e0;
  outline: none;
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 10px;
}
footer .container .subscribe form button {
  padding: 13px 14PX;
  font-size: 1rem;
  border-radius: 8px;
  background-color: #155bd5;
  border: none;
  color: #fff;
  position: absolute;
  right: 10px;
  top: 17px;
}

.slideLeft {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  right: -100%;
  background-color: rgba(0, 0, 0, 0.6901960784);
  transition: all 500ms ease 0s;
}
.slideLeft .rightSlide {
  height: 100%;
  width: 400px;
  background-color: #efefef;
  padding: 100px 30px;
  transition: all 500ms ease 0s;
  margin-left: auto;
}
.slideLeft .rightSlide .closeDiv {
  position: absolute;
  top: 30px;
  right: 30px;
}
.slideLeft .rightSlide .closeDiv a {
  font-size: 2rem;
  color: #6d6d6d;
  transition: all 0.1s ease 0s;
}
.slideLeft .rightSlide .closeDiv a:hover {
  transform: rotate(90deg);
}
.slideLeft .rightSlide p {
  padding: 20px 20px 20px 0;
}
.slideLeft .rightSlide h2 {
  font-weight: 600;
  font-size: 1.3rem;
  color: #1d1d1d;
  padding-bottom: 20px;
}
.slideLeft .rightSlide ul {
  display: block;
}
.slideLeft .rightSlide ul li a {
  color: #6d6d6d;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 1.1rem;
  transition: all 0.3s ease 0s;
}
.slideLeft .rightSlide ul li a:hover {
  transform: translatex(10px);
  color: #155bd5;
}
.slideLeft .rightSlide .follow {
  margin-top: 10px;
}
.slideLeft .rightSlide .iconDiv {
  display: flex;
}
.slideLeft .rightSlide .iconDiv .icons {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #6d6d6d;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease 0s;
}
.slideLeft .rightSlide .iconDiv .icons a {
  color: #6d6d6d;
}
.slideLeft .rightSlide .iconDiv .icons a i {
  font-size: 1.1rem;
}
.slideLeft .rightSlide .iconDiv .icons:hover {
  background-color: #155bd5;
  border: 1px solid #155bd5;
}
.slideLeft .rightSlide .iconDiv .icons:hover a {
  color: #fff;
}

.slideEffect {
  right: 0;
}/*# sourceMappingURL=main.css.map */