*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 15px;
}
body{
    font-family: 'Inter', sans-serif;
}


// ---------------- common classes ---------------

.container{
    width: 70%;
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.df{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style-type: none;
    display: flex;
}

.twoDivs{
    width: 47%
}

.threeDivs{
    width: 32%;
}

// -------------------  My extends  -------------------
%sectionExtend{
    width: 100%;
    text-align: center;
}
%paraExtend{
    color: #6d6d6d;
    font-size: 1.1rem;
    line-height: 1.6rem;
}
%head2Extend{
    font-size: 2.5rem;
    font-weight: 700;
    color: #1d1d1d;
    margin: 15px 0;
}
%head4Extend{
    padding: 7px 25px;
    font-size: 1rem;
    display: inline-block;
    color: #155bd5;
    border: 1.5px solid #155bd5;
    border-radius: 25px;
}


// ----------  import all section  -----------


@import "nav";
@import "banner";
@import "first";
@import "second";
@import "third";
@import "fourth";
@import "fifth";
@import "sixth";
@import "seventh";
@import "eight";
@import "nineth";
@import "tenth";
@import "eleventh";
@import "footer";